.container{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    background-color: blue;
    animation-name: Deepak;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes Deepak{
    from{
        top:0px;
    }
    to{
        top:500px;
    }
} 